.div-striped {
    display: flex;
    align-items: center;
    height: 41px;
    margin-bottom: 1.5%;
    background-color: #f2f2f2;
}

.div-center {
    display: flex;
    justify-content: center;
}

.h-striped {
    margin: 0;
}

.custom-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    width: fit-content;
}

.custom-link:hover {
    color: #0d6efd;
    text-decoration: none;
}

.negative-number {
    color: red !important;
}